.header {
    height:120px;
}

.glyphicon-remove{
cursor:pointer;
}

a{
    color: black;
}
a:hover{
    color:black;
    text-decoration: none;
}
body{
    overflow-x: hidden;
}
h2{
    margin:0px;
    color:#666;
    padding-top: 90px;
    font-size:52px;
    font-family: "trebuchet ms",sans-serif;
}
.item{
    background: #333;
    text-align: center;
    height: 300px !important;
}
.carousel{
    margin-top:20px;
}
.add{
    position:fixed;
    display :block;
    width:100px;
    height:200px;
    background-color: #bbb;
    color:white;
    z-index: 9999;
    opacity:0.3;
        
}
.add:hover{
    opacity: 1;
}
.result-item{
    transition: 0.2s;
    padding-left:12px;
}
.search-result{
    position:absolute;
    display: block;
    width:200px;
    min-height: 100px;
    height:auto;
    top:200px;
    left:400px;
    background-color:white;
    z-index:9999;
    display:none;
  box-shadow:
   0 1px 4px rgba(0, 0, 0, .3),
   -23px 0 20px -23px rgba(0, 0, 0, .8),
   23px 0 20px -23px rgba(0, 0, 0, .8),
   0 0 40px rgba(0, 0, 0, .1) inset;
    
}